@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'XiaWuWenKai';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/XiaWuWenKai.ttf);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;

  font-family: 'HYShuFang_55W'; 
  src: url(/font/HYShuFang_55W.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;

  font-family: 'HYShuFang_65W'; 
  src: url(/font/HYShuFang_65W.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;

  font-family: 'HYShuFang_75W'; 
  src: url(/font/HYShuFang_75W.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;

  font-family: 'HYShuFang_85W'; 
  src: url(/font/HYShuFang_85W.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;

  font-family: 'HYShuFang_95W'; 
  src: url(/font/HYShuFang_95W.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}